div{
    height: 80px;
    width: 80px;
    margin: 15px;
    border: 2px solid black;
}

#box1:hover{
    background-color: blueviolet;
    width: 160px;
    border-radius: 50%;
}
#box2:hover{
    border:6px double tomato;
    margin-left: 90px;
    height: 20px;
}
#box3:hover{
    border: 10px dotted greenyellow;
    background-color: navy;
    opacity: 20%;
}
#box4:hover{
    background-color: orange;
    border-style: dotted dashed solid;
    margin-bottom: 60px;
}
#box5:hover{
    width: 500px;
    margin: auto;
    border: 3px solid #a8ce73;
}
#box6:hover{
    border:10px double green;
    background-color: red;
    border-radius: 75%;
}
