@import url(https://fonts.googleapis.com/css?family=Electrolize:regular);

body{
    background-color: rgb(7, 7, 48);
    width: auto;
    
}
#logo{
    float: left;
    margin: 20px;
    display: none;
}
ul{
    text-align: center;
    list-style: none;
    margin-top: 20px;
}
ul li {
    display: inline-block;
}
ul li a 
{
   text-decoration: overline;
    color: white;
    padding: 6px 20px;
    font-weight: 700;
    font-family: Electrolize;
}
ul li a:hover{
    background-color: white;
    color: black;
}
/*.title{
    color: white;
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
    font-family: Electrolize;
    width: 100%;*/

.container{
    display: grid;
    grid-template-columns: 1fr;
    
    
    
}
h1, p{
    color:white;
    
    
    
}
main{
    
    color: white;
    grid-column-start: 1;grid-column-end:3;
    text-align: center;
    

    
}
h3{
    
    color: white;
}
.future{
    grid-column: 1/3;
}
.top5{
    grid-column: 1/3;
}
#ticker{
   width: 100%;
   grid-column: 1/3; 
}
.video{
    width: 100%;
    grid-column: 3/4;
    display: none;
}
li{
    color: white;
}

.cRate{
    display: none;
}
header{
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.umskrOEe4MtYadufDmUTwwHaEK&pid=Api&P=0&w=359&h=203);
    background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media only screen and (min-width: 450px){
    .container{
        display: grid;
        grid-template-columns: repeat(5, 1fr) ;
        grid-template-rows: 1fr
        
        
        
    }

    .cRate{
    display: table;
    grid-column: 3/4 ;
    color: white;
    font-family: Electrolize;
    margin-bottom: 14px;
    display: none;
}  
main{
    grid-column: 2/5;
}
    

th, tr, td{
    text-decoration: underline;
    display: flex;
   justify-content: space-between;
    
}

footer{
    
    color: white;
    grid-row: 6/7;
    grid-column: 3/4;
    
    
}
.top5{
    grid-column: 1/6;
    color: white;
    font-family: Electrolize;
    text-align: left;
   
}
li{
    padding-bottom: 5px;
}

header{
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.umskrOEe4MtYadufDmUTwwHaEK&pid=Api&P=0&w=359&h=203);
    background-repeat: no-repeat;
  background-size: 100% 100%;
  
  
  
}

.video{
    width: 100%;
    display: block;
    grid-column: 1/6;
}
#ticker{
    
    width:100%;
    grid-column: 1/6;
    
}

.future{
    grid-column: 1/6;
}



}
@media only screen and (min-width:768px){
    .container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        
        
        
    }
   
    #logo{
        float: left;
        margin: 20px;
        display: initial;
}
ul{
    float: right;
    list-style: none;
    margin-top: 20px;
}
.video{
    width: 100%;
    display: inline-block;
    grid-column: 1/3;
    
   
}
#ticker{
    grid-column: 1/6;
    width:100%;
    
}
.cRate{
    display: initial;
    text-align:center;
    grid-column: 3/4;
}
main{
    grid-column: 1/6;
}
.future{
    grid-column: 4/6;
    grid-row: 4/5;

}
.top5{
grid-column: 1/6;
}
footer{
    grid-row: 6/7;
    
}
}