header{
    background-color: #05013a;
    width: auto;
    height: 150vh;
    
 
}
 img{
    float: left;
    margin: 20px;
}
ul{
    float: right;
    list-style: none;
    margin-top: 20px;
}
ul li {
    display: inline-block;
}
ul li a 
{
   text-decoration: overline;
    color: white;
    padding: 6px 20px;
    font-weight: 700;
}
ul li a:hover{
    background-color: white;
    color: black;
     
}
.title{
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
.title_p{
    font-size: 44px;
    font-weight: 600;
    color: white;
}
.title_p2{
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 22px;
    position: relative;
    bottom: 7px;
}
.button
{
    
   
    margin-bottom: 20px;
}

#table{
    color: white;
    position: relative;
    left: 70%;
    bottom: 60%
    
}
#wallet{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 600px;
    margin-top:  -300px;
    margin-bottom: 100px
}
button{
    margin-left: 90px;
    margin-bottom: 600px;
}

.button{
    background-color: blueviolet;
}
a{
    color: lightcyan;
    text-decoration: none;
}
#idw1{margin-top: 100px;
    text-align: center;
    color: white;
    
    
}
.divid{
    color: white;
    text-align: center;
    margin-top: 100px;
}
input{
    margin-left: 100px;
    margin-top: 10px;
}
#divid{
    margin-top: 40px;
    margin-left: 350px;
    color: white;
}
footer{
    background-color: #05013a;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
#h1{
    color: white;
    text-align: center;
    padding-top: 2px;
    
}
p{
    margin-top: 20px;
}
#img2{
    margin-left: 350px;
    
    margin-top: 60px;
    height: 400px;
   
    

}
h3{
    color: white;
}







	



	

	


	







	

	

	

	

	

		

	

	

		

	





